# Dependencies
/back-end/node_modules
/back-end/vendor
/front-end/node_modules

# Environment files
/back-end/.env
/front-end/.env

# Logs
/back-end/storage/*.log
/back-end/npm-debug.log*
/front-end/npm-debug.log*

# Build files
/front-end/dist
/front-end/build

# IDE files
.vscode
.idea
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db